p {
  font-family: arial;
  margin-top: 0;
  margin-bottom: 0;
}

.tittle {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtittle {
  margin-bottom: 20px;
}

.link {
  color: rgb(58, 108, 199);
}
