p{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: Montserrat;
}

.model{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.delevery{
  text-decoration: underline;
}
